@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}

*, *::before, *::after {
		box-sizing: inherit;
}

body {
	background-color: white;
}

header {
	padding: 0em;
	margin: 0em;
	padding-top: 0;
	text-align: center;
  }


h1 {
	margin: 0em;
	font-size: 3rem;
	position: relative;

}

body {
	padding: 0;
	margin: 0;
}

.sam {
	width: 100%;
}

p {
	font-size: 1em;
	padding-bottom: 1em;
	padding-top: 2em;
	background-color: black;
	color: white;
	padding-left: 2em;
	padding-right: 2em;

}

.wrapper {
 max-width: 25em;
 margin: 0 auto;
}

img {
	width: 100%;
}


.content1 {
	float: left;
	clear: left;
	width: 50%;
	padding-left: 4em;

}

.content2 {
	float: right;
	clear: right;
	width: 50%;
	padding-right: 4em;
}



footer {
	background-color: black;
text-align: justify;

}

footer div {
	display: inline-block;
	vertical-align: top;
	}

footer:after {
	content: "";
	width: 100%;
	display: inline-block;
    }




@media only screen and (min-width:35em) {

	body{
		background-color: black;
		color: white;
		}

	.google {
		width: 25%;
	}

	.pin {
		width: 25%;
	}

	.twitter {
		width: 25%;
	}

	.insta {
		width: 25%;
	}

@media only screen and (min-width:800px) {
	body{
		background-color: white;
	}
}


}
