@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}

*, *::before, *::after {
		box-sizing: inherit;
}

body {
	background-color: white;
}


header {
  background-image: url("../img/sam.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 1em;
  padding: 10em;
  color: black;
  }

h1 {
	text-align: left;
	margin: 1em;
}



@media only screen and (min-width:35em) {
	body{
		background-color: black;
		}

		h1 {
			color: purple;
	}

@media only screen and (min-width:800px) {
	body{
		background-color: white;
	}
}



}
